language: python

python:
    - "2.7"
    - "3.6"

install:
    - pip install -r requirements.txt

script:
    - python setup.py test

branches:
    only:
        - master
        - /^v\d+\.\d+(\.\d+)?(-\S*)?$/
