<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand brand-logo" href="{{ url_for('flaskcode.index', resource_dir=resource_dir) }}"><img src="{{ url_for('flaskcode.static', filename='img/logos.png') }}" alt="{{ app_title }}" width="90" /></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/"><i class="fa fa-fw fa-chevron-left" aria-hidden="true"></i> Home</a></li>
            </ul>
        </div>
    </div>
</nav>
